################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HangmanGame/HangmanGame/obj/Release/net6.0/HangmanGame.GlobalUsings.g.cs
/HangmanGame/.vs
/HangmanGame/HangmanGame/obj/Release/net6.0/HangmanGame.GeneratedMSBuildEditorConfig.editorconfig
/HangmanGame/HangmanGame/obj/Release/net6.0/HangmanGame.csproj.AssemblyReference.cache
/HangmanGame/HangmanGame/obj/Release/net6.0/HangmanGame.assets.cache
/HangmanGame/HangmanGame/obj/Release/net6.0/HangmanGame.AssemblyInfoInputs.cache
/HangmanGame/HangmanGame/obj/Release/net6.0/HangmanGame.AssemblyInfo.cs
/HangmanGame/HangmanGame/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/HangmanGame/HangmanGame/obj/Debug/net6.0/HangmanGame.pdb
/HangmanGame/HangmanGame/obj/Debug/net6.0/HangmanGame.genruntimeconfig.cache
/HangmanGame/HangmanGame/obj/Debug/net6.0/HangmanGame.dll
/HangmanGame/HangmanGame/obj/Debug/net6.0/HangmanGame.csproj.FileListAbsolute.txt
/HangmanGame/HangmanGame/obj/Debug/net6.0/HangmanGame.csproj.CoreCompileInputs.cache
/HangmanGame/HangmanGame/obj/Debug/net6.0/apphost.exe
/HangmanGame/HangmanGame/obj/Debug/net6.0/refint
/HangmanGame/HangmanGame/obj/Debug/net6.0/ref
/HangmanGame/HangmanGame/bin/Debug/net6.0
/HangmanGame/.vs/HangmanGame/FileContentIndex/c12abe77-adce-478c-95b0-4e0a3715b0dc.vsidx
/HangmanGame/.vs/HangmanGame/FileContentIndex/f37bd8d8-06dc-48ba-bb24-a38bf8bfad72.vsidx
